<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- カスタムセクションの登録 -->
		<section name="databaseSettings" type="DBCompare.DatabaseSettingsSection, DBCompare"/>
	</configSections>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

	<databaseSettings>
		<connections>
			<add name="oldDB" connectionString="Driver={ODBC Driver 17 for SQL Server};Server=192.168.0.28,2025;Database=PLBRISKC;Uid=sa;Pwd=P@ssw0rd;" />
			<add name="newDB" connectionString="Driver={ODBC Driver 17 for SQL Server};Server=192.168.0.28,2025;Database=PLBRISKC;Uid=sa;Pwd=P@ssw0rd;" />
		</connections>
		
		<!-- 除外するテーブル（スキーマ.テーブル形式） -->
		<excludeTables>
			<add name="dbo.sys%" />
		</excludeTables>
	</databaseSettings>
</configuration>
